body {
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

pre {
    color: white;
}

p {
    color: white;
}

